
.navbar {
    background-color: green;
    color: white;
    height: auto;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.square {
    width: 33.33%;
    height: 33.33%;
    background: #fff;
    border: 3px solid black;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
}

.reset-button {
    display: block;
    width: 100%;
    border: none;
    background-color: var(--secondary-color);
    color: var(--white);
    font-size: 16px;
    padding: 8px 12px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.reset-button:hover {
        background-color: black;
    }


.W2Header {
    text-align: center;
    color: white;
}
